
body{
background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/0d/Butler_Library_-_1000px_-_AC.jpg");
background-size: cover;
}
h1{
	color: white;
	text-align: center
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
	
}

.background-scrim {
	height:100%;
	width: 100%;
	background-color: rgba(255,255,255,0.5);
	z-index: -1;
	/*position: fixed;*/
	
}

.dropdown {
	display: block;
	margin: 0%;
}
.dropbtn{
	background-color: ‎#B9D9EB; /*columbia blue*/
	color:white;
	padding: .5em;
	font-size: 16px;
	border: none;
	cursor: pointer;
}
.account-dropdown{
	display:none;
	position: absolute ;
	background-color: white;
	min-width: 160px;
	box-shadow: 1px 6px 6px rgba(0, 0, 0, 0.2);
}

.account-dropdown a{
	color: #0033a0;
	padding: 12px 12px;
	text-decoration: none;
	display:block;
}

.account-dropdown a:hover {background-color: #f1f1f1}
.dropdown:hover .account-dropdown{display: block;}

button{
	text-decoration: none;
}


.features{
	margin: auto;
	padding: 4px 8px 4px 4px;
	width: 800px;
	height: 300px;
	background-color: rgba(255,255,255,0.5);
	font-family: 'Open Sans', sans-serif;
}
