{% extends "base.html" %}
{% block title %}SAMPLE CLASS Course Information{% endblock %} <!--get class name-->
{% block body %}
<h1>SAMPLE CLASS Course Information</h1>
<div>
	<span><h3>Course Name: </h3></span>
	<p>Honors Introduction to Computer Science</p>
	<span><h3>Professor(s): </h3></span> <p> John Kender</p>
	<div>
	<span><h3>Department code: </h3></span>
	<p>COMS</p>
	<span><h3>Call number: </h3></span>
	<p>W1007</p>	
	</div>
	<h3>Approval: </h3>
	<div>
	<h3>Course description </h3>
	<p>This is a course description</p>
	</div>
</div>
	
	
	
