{% extends "base.html" %}
<head>
 <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">

</head>
{% block body %}

	<h1> CU Course Mapper </h1>
	
	<div class= "features">
	<p> Are you stressing over course selection? 
	Should you take this course to fulfill your major requirement, or that course for your self-enrichment? Let us do it for you! </p>
	<ul>
		<li> (List of features)
	</ul>
</div>
<div class="buttons">
	<a href="/signup"><button id="launch-button"> Sign Up </button></a>
	<a href="/login"><button id="launch-button"> Log In </button></a>
</div>
<style>
h1{
	color: white;
	text-align: center;
	font-family: Arial;
}
	a {text-decoration: none;}
.buttons{
position: center;
}
#launch-button{
	text-decoration: none;
	border: solid 3px white;
	background-color: #B9D9EB;
	border-radius: 3px;
	display: inline;
	margin: auto;
	
}
.features{
	margin: auto;
	padding: 4px 8px 4px 4px;
	width: 800px;
	height: 300px;
	background-color: #B9D9EB;
	border-radius: 5px;
}

</style>

{% endblock%}
