{% extends "base.html" %}
{% block title %} My Schedule{% endblock %}
{% block body %}
<h1>My Course Schedule</h1>
<h2>Year 1</h2> <!--use flask-->
		<div class="semester">
			<h3>Semester 1</h3>
			<ul> 
				<li id="pastcourse"><a href="/getCourseInfo">First course</a></li> <!--change name of courses-->
				<li id="pastcourse"><a href="/getCourseInfo">Second course</a></li> 
				<li><a href="/getCourseInfo">Third course</a></li> 
			</ul>
		</div>
		<div class="semester">
			<h3>Semester 2</h3>
			<ul> 
				<li id="pastcourse"><a href="/getCourseInfo">First course</a></li> <!--change name of courses-->
				<li id="pastcourse"><a href="/getCourseInfo">Second course</a></li> 
				<li id="pastcourse"><a href="/getCourseInfo">Third course</a></li> 
			</ul>
		</div>
		<h2>Year 2</h2>
		<div class="semester">
			<h3>Semester 1</h3>
			<ul> 
				<li id="recommendedcourse"><a href="/getCourseInfo">First recommended course</a></li> <!--change name of courses-->
				<li id="recommendedcourse"><a href="/getCourseInfo">Second recommended course</a></li> 
				<li id="recommendedcourse"><a href="/getCourseInfo">Third recommended course</a></li> 
			</ul>
		</div>
		<div class="semester">
			<h3>Semester 2</h3>
			<ul> 
				<li id="recommendedcourse"><a href="/getCourseInfo">First recommended course</a></li> <!--change name of courses-->
				<li id="recommendedcourse"><a href="/getCourseInfo">Second recommended course</a></li> 
				<li id="recommendedcourse"><a href="/getCourseInfo">Third recommended course</a></li> 
			</ul>
		</div>

