{% extends "base.html" %}
{%block head%}
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta name="description" content="">
 <meta name="author" content="">
  <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
 <!-- Custom CSS -->
    <link href="css/2-col-portfolio.css" rel="stylesheet">
(% endblock %}
{% block title %} My Past Courses{% endblock %}

  <div class="row">
      <div class="large-12 columns">
          <div class="panel">
	{% block body %}

    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">My Past Courses
                    <small>Enter in your past courses</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->
		{{for each year, display a row}}
        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
				<h3>
                    Semester 1
                </h3>	
				{{for each course in Semester 1}}				
                <a href="/displayCourse<id>">				
                    <div class= "pastcourse"> {{course.name}} {{professor.name}}</div>
                </a>
            </div>
            <div class="col-md-6 portfolio-item">
				<h3>
                   Semester 2
                </h3> 
				 {{for each course in Semester 2}}
                <a href="/displayCourse<id>">                   
                    <div class= "pastcourse"> {{course.name}} {{professor.name}}</div>
                </a>
                               
            </div>
        </div>
        <!-- /.row -->
		<!-- ADD a row if they click the add year button-->
		<span><a href="/addyear"><button>Add a year</button></a></span>
        <hr>

        <hr>        

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
	<style>
	.col-md-6 portfolio-item{
	width: 500px;
	height: 50%;}
	
	.pastcourse{
	background-color: #f9bbf9;
	padding: 3px;
	radius: 4px;
	}
	
	.reccourse{
	background-color: #abfcb7;
	padding: 3px;
	}
	.requiredcourse{
	background-color: #ef4351;
	
	}
	</style>
	{% endblock %}
          </div>
      </div>
  </div>



