{% extends "base.html" %}
{% block title %} Sign Up {% endblock %}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/loginsignup.css') }}">
<h2> Sign Up </h2>

<form action="" method="POST">
    {{ form.crsf_token}}
    <div class="username">
    <p id="un">Username
        {{ form.name }}
	</p>
    </div>
    <div class="password">
	<p id="p">Password
        {{ form.password }}
	</p>
	<div class="year">
	<p id="yr">Class Year (Enter 1 to 4)
		{{form.year}}
	</p>
    </div>
    <input type="submit" value="Sign Up">
</form>

{% endblock %}